
 body{
    background-color: rgb(175, 252, 252);
	font-size: 20px;
}
nav {
	background: rgb(255, 255, 255);
	width: 90%;
	height: 50px;
	display: block;
	float:unset;
	color:white;
}
.navegadores{
	color: blue;
	display: inline;

}
.textonav{
	color: blue;
	margin: 40px; 
	text-decoration: none;
	font-size: 22px;
	vertical-align: center;
	font-weight: bold;
	padding-top: 80px;
}